{% extends 'base.html.twig' %}
{% block title 'User' %}
{% block body %}

    <div class="container mt-4">
        {#<h1>Users List</h1>#}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="{{ path('admin_user_new') }}" class="btn btn-primary">Create New User</a>

        </div>


    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.username) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">
                        Search
                    </button>

                </div>
            </div>
            {{ form_end(form) }}

        </div>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>User name</th>
                <th>Role</th>
                {#<th>CB name</th>#}
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td> <a href="{{ path('user_show', {id: user.id, slug: user.slug}) }}" >{{ user.name }} </a></td>

                   <td> {{ user.roles[0]}}  </td>
                   {
                   {#<td> {{ user.usercb}}  </td>#}
                    {#{{ dump(user) }}#}


                    <td>
                        <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-success">Edit</a>
                        <form method="post" action="{{ path('admin_user_delete', {id: user.id }) }}" style="display: inline-block"
                              onsubmit="return confirm('Wanna really delete this User')" >
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn btn-danger">DELETE</button>


                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
        <div class="pagination">
            {{ knp_pagination_render(users) }}

        </div>


    </div>

{% endblock %}