{% extends 'base.html.twig' %}



{% block body %}


    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>



    <div class="container theme-showcase" role="main">


        <div class="jumbotron">



            <div class="text-right">


                <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-success">Edit</a>
                {% if is_granted('ROLE_ADMIN') %}

                <form method="post" action="{{ path('admin_user_delete', {id: user.id }) }}" style="display: inline-block"
                      onsubmit="return confirm('Wanna really delete this User')" >
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                    <button class="btn btn btn-danger">DELETE</button>


                </form>
                {% endif %}


            </div>
            <div class="row">


                <div class="col-sm-4 dropdown-menu-sm-left">
                </div>
                <div class="col -md-8">


                <table class="table table-striped">
                    <tr>
                        <td>First Name</td>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{ user.gender }}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                    </tr>

                </table>

            </div>

        </div>
    </div>
    </div>


{% endblock %}



