{% extends 'base.html.twig' %}
{% block title 'Audit' %}
{% block body %}

    <div class="container mt-4">
        {#<h1>Audit List</h1>#}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {#<div class="text-right">#}
            {#<a href="{{ path('admin.audit.new') }}" class="btn btn-primary">Create New Audit</a>#}

        {#</div>#}

        <div class="jumbotron">
            <div class="container">
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_row(form.audittitle) }}
                        {{ form_row(form.auditstandard) }}
                    </div>
                    <div class="col">
                        <button class="btn btn-primary">
                            Search
                        </button>

                    </div>
                    </div>
                {{ form_end(form) }}

            </div>


        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Audit Title</th>
                <th>Organisation</th>
                <th>Standard</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for audit in audits %}
                <tr>
                    <td> <a href="{{ path('audit.show', {id: audit.id, slug: audit.slug}) }}" >{{ audit.Title }} </a></td>
                    <td> <a href="#" >{{ audit.org.name }} </a></td>
                    <td>
                        {{ audit.standard }}
                    </td>


                    <td>
                        <a href="{{ path('admin.audit.edit', {id: audit.id}) }}" class="btn btn-success">Edit</a>
                        <form method="post" action="{{ path('admin.audit.delete', {id: audit.id }) }}" style="display: inline-block"
                              onsubmit="return confirm('Wanna really delete')" >
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ audit.id) }}">
                            <button class="btn btn btn-danger">DELETE</button>


                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

        <div class="pagination">
            {{ knp_pagination_render(audits) }}

        </div>

    </div>

{% endblock %}