{% extends 'base.html.twig' %}



{% block body %}


    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="container theme-showcase" role="main">


        <div class="jumbotron">



            <div class="text-right">


                <a href="{{ path('admin.audit.edit', {id: audits.id}) }}" class="btn btn-info btn-sm">EDIT</a>
                <form method="post" action="{{ path('admin.audit.delete', {id: audits.id }) }}" style="display: inline-block"
                      onsubmit="return confirm('Wanna really delete')" >
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ audits.id) }}">
                    <button class="btn btn-danger btn-sm">DELETE</button>


                </form>


            </div>
            <div class="row">


                <div class="col-sm-4 dropdown-menu-sm-left">
                    {{ include('Admin/Audit/auditleftmenu.html.twig') }}
                </div>
                <div class="col -md-8">


                <table class="table table-striped">
                    <tr>
                        <td>Organisation Name</td>
                        <td> <a href="{{ path('org.show', {id: org.id, slug: org.slug}) }}" >{{ org.name }} </a></td>

                    </tr>
                    <tr>
                        <td>Audit Name</td>
                        <td>{{ audits.title }}</td>
                    </tr>
                    <tr>
                        <td>Audit Status</td>
                        <td>{{ audits.status }}</td>
                    </tr>
                    <tr>
                        <td>Number of FTE</td>
                        <td>{{ audits.numberfte }}</td>
                    </tr>
                    <tr>
                        <td>Audit Type</td>
                        <td>{{ audits.audittype }}</td>
                    </tr>
                    <tr>
                        <td>Scope Statemeent</td>
                        <td>{{ audits.scopestatment }}</td>
                    </tr>
                    <tr>
                        <td>Audit Finding</td>
                        <td>{{ audits.auditdfinding }}</td>
                    </tr>







                </table>

            </div>

        </div>
    </div>
    </div>


{% endblock %}



