{% extends 'base.html.twig' %}
{% block title'Certificates' %}
{% block body %}

    <div class="container mt-4">
        <h1>Certificates List</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right">
            {#<a href="{{ path('admin.cert.new') }}" class="btn btn-primary">Create New Certificate</a>#}

        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for cert in certs %}
                <tr>
                    <td>
                        <a href="{{ path('cert.show', {id: cert.id, slug: cert.slug}) }}" >{{ cert.title }} </a>

                       </td>
                    <td>
                        <a href="{{ path('admin.cert.edit', {id: cert.id}) }}" class="btn btn-success">Edit</a>
                        <form method="post" action="{{ path('admin.cert.delete', {id: cert.id }) }}" style="display: inline-block"
                              onsubmit="return confirm('Wanna really delete')" >
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cert.id) }}">
                            <button class="btn btn btn-danger">DELETE</button>


                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>



    </div>

{% endblock %}