{% extends 'base.html.twig' %}



{% block body %}
    <div class="container mt-4" >

        <div class="jumbotron">
            <div class="text-right">


                <a href="{{ path('admin.cert.edit', {id: certs.id}) }}" class="btn btn-info btn-sm">EDIT</a>
                <form method="post" action="{{ path('admin.cert.delete', {id: certs.id }) }}" style="display: inline-block"
                      onsubmit="return confirm('Wanna really delete')" >
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ certs.id) }}">
                    <button class="btn btn-danger btn-sm">DELETE</button>


                </form>


            </div>
        <div class="row">
            <div class="col-sm-4 dropdown-menu-sm-left">
                {{ include('Admin/Audit/auditleftmenu.html.twig') }}
            </div>

            <div class="col -md-8">

                <table class="table table-striped">
                    <tr>
                        <td>Certificat Scope Statement</td>
                        <td>{{ certs.scopestatment }}</td>
                    </tr>
                    <tr>
                        <td>Certificat Scope</td>
                        <td>{{ certs.scope }}</td>
                    </tr>
                    <tr>
                        <td>Certificat Issue date</td>
                        <td>{{ certs.issuedate|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <td>Certificat Valide until date</td>
                        <td>{{ certs.validuntil|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <td>Certificat Intial Certification date</td>
                        <td>{{ certs.initialcertdate|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <td>Certificat Status</td>
                        <td>{{ certs.certificatstatus }}</td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    </div>

{% endblock %}



