{% extends 'base.html.twig' %}
{% block body %}



    <div class="container mt-4">
        {#{% for message in app.flashes('success') %}#}
            {#<div class="alert alert-success">#}
                {#{{ message }}#}
            {#</div>#}
        {#{% endfor %}#}
    </div>


    <div class="container theme-showcase" role="main">

    <div class="jumbotron">
    <div class="text-right">
    {% if is_granted('ROLE_CBADMIN') %}


        <a href="{{ path('admin_cbuser_new', {name: cb.name}) }}" class="btn btn-primary">Create New CB Admin</a>
    {% endif %}
        </div>
    <div class="row">
    <div class="col-sm-4 dropdown-menu-sm-left">
        {{ include('Admin/CB/cbleftmenu.html.twig') }}
    </div>

    <div class="col-sm-8">

    <div class="container-fluid col-sm-8">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Auditors</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>

                {% if user.roles[0] == 'ROLE_CBADMIN' %}

                <td> <a href="{{ path('user_show', {id: user.id, slug: user.slug}) }}" >{{ user.name }} </a></td>

                {% endif %}


                    {#{{ user.name }}#}

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}