{% extends 'base.html.twig' %}
{% block title 'Certifications Body' %}
{% block body %}

    <div class="container mt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="small">
            {%  if is_granted('ROLE_ADMIN') %}

            Total number of Certification Body :  {{ cbs.getTotalItemCount }}
            {% endif %}
        </div>
        <div class="text-right">
            {%  if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin.cb.new') }}" class="btn btn-primary">Create New Certification Body</a><br><br>
             {% endif %}
        </div>
        <div class="container-fluid col-sm-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>

                {#<th>City</th>#}
                <th>Country</th>

            </tr>
            </thead>
            <tbody>

            {% for cb in cbs %}
                <tr>
                    <td>{{ cb.number }}</td>

                    <td> <a href="{{ path('cb.show', {id: cb.id, slug: cb.slug}) }}" >{{ cb.name }} </a></td>


                    {#<td>{{ cb.city }}</td>#}
                  <td>{{ cb.CbfullCountryName }}</td>

                    {#<td> <a class="nav-link" href="{{ path('cb.organisations', {name: cb.name }) }}">organisations</a></td>#}
                    <td>

                        {#<a href="{{ path('admin.cb.edit', {id: cb.id}) }}" class="btn btn-success">Edit</a>#}
                        {#{%  if is_granted('ROLE_ADMIN') %}#}
                        {#<form method="post" action="{{ path('admin.cb.delete', {id: cb.id }) }}" style="display: inline-block"#}
                              {#onsubmit="return confirm('Wanna really delete')" >#}
                            {#<input type="hidden" name="_method" value="DELETE">#}
                            {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cb.id) }}">#}
                            {#<button class="btn btn btn-danger">DELETE</button>#}


                        {#</form>#}
                        {#{% endif %}#}
                    </td>


                </tr>


            </tbody>
            {% endfor %}

        </table>
        <div class="container">
            <div class="navigation cen">
                {{ knp_pagination_render(cbs) }}
            </div>
        </div>



    </div>
    </div>




{% endblock %}

