{% extends 'base.html.twig' %}
{% block body %}



    <div class="container mt-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    </div>
    <div class="container theme-showcase" role="main">

    <div class="jumbotron">
    <div class="text-right">
        <a href="{{ path('admin_generalimp_new', {title: audits.title}) }}" class="btn btn-primary">Create General impression</a>
     <br>
        <br>
    </div>
    <div class="row">
    <div class="col-sm-4 dropdown-menu-sm-left">
        {#{{ include('Admin/Audit/auditleftmenu.html.twig') }}#}
    </div>
    <div class="col-sm-8">

    <div class="container-fluid col-sm-8">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Standard </th>
            <th>Status </th>



        </tr>
        </thead>
        <tbody>
        {% for Finding in Findings %}
            <tr>


                <td> <a href="{{ path('finding_show', {id: Finding.id, slug: Finding.slug}) }}" >{{ Finding.title}} </a></td>
                <td> {{ Finding.standard }} </td>
                <td> {{ Finding.status }} </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}