{% extends 'base.html.twig' %}



{% block body %}


    <div class="container mt-4">
        {#{% for message in app.flashes('success') %}#}
            {#<div class="alert alert-success">#}
                {#{{ message }}#}
            {#</div>#}
        {#{% endfor %}#}
    </div>

    <div class="container theme-showcase" role="main">


        <div class="jumbotron">



            <div class="text-right">


                {#<a href="{{ path('admin_finding_edit', {id: finding.id}) }}" class="btn btn-success">Edit</a>#}
                {#<form method="post" action="{{ path('admin_finding_delete', {id: finding.id }) }}" style="display: inline-block"#}
                      {#onsubmit="return confirm('Wanna really delete this Finding')" >#}
                    {#<input type="hidden" name="_method" value="DELETE">#}
                    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ finding.id) }}">#}
                    {#<button class="btn btn btn-danger">DELETE</button>#}


                {#</form>#}


            </div>
            <div class="row">


                <div class="col-sm-4 dropdown-menu-sm-left">
                    {#{{ include('Admin/Audit/auditleftmenu.html.twig') }}#}
                </div>
                <div class="col -md-8">


                <table class="table table-striped">
                    {#<tr>#}
                        {#<td>Gneneral Impression Title</td>#}
                        {#<td>{{ generalimp.titlegeneralimp }}</td>#}
                    {#</tr>#}
                    <tr>
                        <td>Capability of the management system </td>
                        <td>{{ generalimp.capabilitymanagementsystem }}</td>
                    </tr>
                    <tr>
                        <td>Context of the organisation</td>
                        <td>{{ generalimp.contextorganisation }}</td>
                    </tr>
                    <tr>
                        <td>Leadership</td>
                        <td>{{ generalimp.leadership }}</td>
                    </tr>
                    <tr>
                        <td>Planning</td>
                        <td>{{ generalimp.planning }}</td>
                    </tr>
                    <tr>
                        <td>Support</td>
                        <td>{{ generalimp.support }}</td>
                    </tr>
                    <tr>
                        <td>Operation</td>
                        <td>{{ generalimp.operation }}</td>
                    </tr>
                    <tr>
                        <td>HACCP plan comment</td>
                        <td>{{ generalimp.haccpplancomment }}</td>
                    </tr>
                    <tr>
                        <td>HACCP process</td>
                        <td>{{ generalimp.haccpplanprocess }}</td>
                    </tr>
                    <tr>
                        <td>Opportunity for improvement</td>
                        <td>{{ generalimp.opportunityimprovement }}</td>
                    </tr>



                </table>

            </div>

        </div>
    </div>
    </div>


{% endblock %}



