{% extends 'base.html.twig' %}
{% block body %}



    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container theme-showcase" role="main">

    <div class="jumbotron">
    <div class="text-right">
        {#<a href="{{ path('admin.audit.new', {name: org.name}) }}" class="btn btn-primary">Create New Audit</a>#}

    </div>
    <div class="row">
    <div class="col-sm-4 dropdown-menu-sm-left">
        {{ include('Admin/Organisation/orgleftmenu.html.twig') }}
    </div>
    <div class="col-sm-8">

    <div class="container-fluid col-sm-12">
    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Standard</th>
            <th>Interpretation</th>
            <th>Clause</th>
            <th>Status</th>


        </tr>
        </thead>
        <tbody>
        {% for audit in audits %}

            {% for finds in audit.findings %}
            <tr>
                <td><a href="{{ path('finding_show', {id: finds.id, slug: finds.slug}) }}">{{ finds.title}} </a></td>
                <td>{{ finds.standard}}</td>
                <td>{{ finds.interpretation}}</td>
                <td>{{ finds.clause}}</td>
                <td>{{ finds.status}}</td>





            </tr>
        {% endfor %}
        {% endfor %}

        </tbody>
    </table>
    </div>

{% endblock %}