{% extends 'base.html.twig' %}
{% block title'Manage Organisation' %}
{% block body %}

    <div class="container mt-4">
        <h1>Organisations List</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right">
            {#<a href="{{ path('admin.org.new') }}" class="btn btn-primary">Create New Organisation</a>#}

        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Certification Body Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for org in orgs %}
                <tr>
                    <td> <a href="{{ path('org.show', {id: org.id, slug: org.slug}) }}" >{{ org.name }} </a></td>
                    {#<td> <a href="{{ path('org.show', {id: org.id, slug: org.slug}) }}" >{{ org.name }} </a></td>#}
                    <td>{{ org.cb.name }}</td>

                    <td>
                        <a href="{{ path('admin.org.edit', {id: org.id}) }}" class="btn btn-success">Edit</a>
                        <form method="post" action="{{ path('admin.org.delete', {id: org.id }) }}" style="display: inline-block"
                              onsubmit="return confirm('Wanna really delete')" >
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ org.id) }}">
                            <button class="btn btn btn-danger">DELETE</button>


                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>



    </div>

{% endblock %}