{% extends 'base.html.twig' %}



{% block body %}
    <div class="container mt-4" >


            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-4 dropdown-menu-sm-left">
                        {{ include('Admin/Organisation/orgleftmenu.html.twig') }}
                    </div>
            <div class="col -md-8">

                <table class="table table-striped">
                    <tr>
                        <td>Organisation Certification Body</td>
                        <td>{{ org.cb.name }}</td>
                    </tr>
                    <tr>
                        <td>Organisation Name</td>
                        <td>{{ org.name }}</td>
                    </tr>
                    <tr>
                        <td>Organisation Number</td>
                        <td>{{ org.number }}</td>
                    </tr>
                    <tr>
                    <td>Organisation Name</td>
                    <td>{{ org.name }}</td>

                    </tr>
                    <tr>
                    <td>Organisation City</td>
                    <td>{{ org.city }}</td>

                    </tr>
                    <tr>

                    <td>Organisation Adress</td>
                    <td>{{ org.adress }}</td>
                    </tr>
                    <tr>

                    <td>Organisation Country</td>
                    <td>{{ org.country }}</td>
                    </tr>
                    <tr>
                    <td>Organisation Contact Person</td>
                    <td>{{ org.contactperson }}</td>

                    </tr>
                    <tr>

                    <td>Organisation  Website</td>
                    <td>{{ org.website }}</td>

                    </tr>



                </table>

            </div>

        </div>
            </div>
    </div>

{% endblock %}



